In [1]:
import numpy as np
import pandas as pd

In [2]:
def ode(a, t):
    return a * t + 7

def ode2(a, t):
    return a*t**2 - 16*t + 7

In [5]:
np.random.seed(11)
t = np.arange(0, 300)
a = np.random.randn(10000)

dy_dt = [] 
for i in range(10000):
    dy_dt.append(ode2(a[i], t))

In [ ]:
df1 = pd.DataFrame(np.array(dy_dt))
df1["a"] = a
df1.to_excel("simulated_data2.xlsx", index=False)
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,291,292,293,294,295,296,297,298,299,a
0,7.0,-7.250545,-18.002181,-25.254907,-29.008724,-29.263631,-26.019629,-19.276718,-9.034897,4.705834,...,143496.576948,144500.509063,145507.940086,146518.870019,147533.298862,148551.226614,149572.653276,150597.578847,151626.003327,1.749455
1,7.0,-9.286073,-26.144292,-43.574657,-61.577168,-80.151825,-99.298628,-119.017577,-139.308672,-160.171913,...,-28873.947443,-29056.728001,-29240.080704,-29424.005553,-29608.502548,-29793.571689,-29979.212976,-30165.426409,-30352.211988,-0.286073
2,7.0,-9.484565,-26.938261,-45.361086,-64.753042,-85.114128,-106.444345,-128.743691,-152.012168,-176.249776,...,-45682.459962,-45980.961434,-46280.432036,-46580.871769,-46882.280632,-47184.658625,-47488.005748,-47792.322002,-48097.607386,-0.484565
3,7.0,-11.653319,-35.613274,-64.879867,-99.453097,-139.332964,-184.519468,-235.012609,-290.812388,-351.918803,...,-229334.668917,-230897.553637,-232465.744994,-234039.242988,-235618.047620,-237202.158888,-238791.576794,-240386.301337,-241986.332517,-2.653319
4,7.0,-9.008285,-25.033139,-41.074562,-57.132554,-73.207116,-89.298247,-105.405947,-121.530216,-137.671055,...,-5350.550700,-5371.380639,-5392.227147,-5413.090224,-5433.969871,-5454.866087,-5475.778872,-5496.708227,-5517.654151,-0.008285